.form {
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: #2b061e;
    padding: 10px;
    width: 30%;
    border-radius: 15px;
    margin-top: 125px;
    align-items: center;
}

.lbl {
    font-family: var(--candal);
    text-align: center;
}

.input {
    margin: 1.5rem;
    border-radius: 5px;
    width: 90%;
    background-color: #CAC1C7;
    font-family: var(--candal);
}

.link {
    color: #F9DBBD;
    text-decoration: none;
    font-family: var(--candal);
    margin-top: 2%;
    margin-bottom: 5%;
    font-size: 14px;
}

.cnpj {
    margin-left: 0;
}

.cnpj::-webkit-inner-spin-button {
    appearance: none;
}

.activeCpf {
    margin-right: 10px;
    height: 15px;
    width: 15px;
    accent-color: #40C9A2;
}

.btnalgn {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.btnReset {
    height: 2rem;
    background-color: #D81159;
    border-radius: 5px;
    font-family: var(--candal);
    border: none;
    width: 7rem;
}

.btnSubmit {
    height: 2rem;
    background-color: #40C9A2;
    border-radius: 5px;
    font-family: var(--candal);
    border: none;
    width: 7rem;
}

@media screen and (max-width: 1000px) {
    .form {
        width: 400px;
    }
}
