@keyframes screen {
    from {
        transform: translateY(-200%);
    }

    to {
        transform: translateY(0px);
    }
}

@keyframes text {
    from {
        opacity: 0;
        transform: translateY(10%);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes disappear {
    from {
        opacity: 1;
        transform: translateY(0px);
    }

    to {
        opacity: 0;
        transform: translateY(10%);
    }
}

@keyframes border {
    from {
        transform: translateY(0%);
    }

    to {
        transform: translateY(100%);
    }
}

@keyframes loadingAnimation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.tutorial {
    position: absolute;
    background-color: #2b061e;
    min-height: 100%;
    width: 100%;
    transform: translateY(-200%);
    animation: screen 1000ms both;
}

.algnHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerTxt {
    background-color: inherit;
    border: none;
    font-family: var(--candal);
    color: #F9DBBD;
    font-size: 20px;
    margin: 15px;
}

.textBtn:hover {
    padding-left: 10px;
    transition: 0.5s ease;
}

.dropdownItem {
    margin: 0;
    padding: 5px 0 5px 0;
    font-family: var(--candal);
    text-align: center;
    cursor: pointer;
    color: #2b061e;
}

.dropdownItem:hover {
    background-color: #797D81;
}

.linkEdit {
    text-decoration: none;
    width: 100%;
    height: 100%;
    color: inherit;
}

.exitButton:hover {
    background-color: #D81159;
}

.iconBtn {
    font-size: 20px;
    color: #2b061E;
    padding-right: 5px;
}

.algnBody {
    display: flex;
    flex-direction: column;
    padding: 5% 2% 10% 2%;
}

.border1,
.border2,
.border3 {
    position: absolute;
    border-radius: 2.5rem;
    width: 2rem;
    background-color: #2b061e;
}

.border1 {
    transform: translateY(0px);
    left: 10%;
    animation: border both 900ms;
    height: 10rem;
}

.border2 {
    transform: translateY(0px);
    left: 60%;
    animation: border both 900ms;
    height: 8rem;
}

.border3 {
    transform: translateY(0px);
    right: 10%;
    animation: border both 900ms;
    height: 9rem;
}

.loading {
    width: 50px;
    height: 50px;
    border: solid;
    border-width: 5px;
    border-radius: 30px;
    border-color: #F9DBBD;
    border-bottom-color: #2b061E;
    transform: rotate(0deg);
    animation: loadingAnimation linear infinite 750ms;
    margin: auto;
}

.appear {
    opacity: 0;
    transform: translateY(10%);
    animation: text both 500ms 1000ms;
}

.disappear {
    opacity: 1;
    transform: translateY(0px);
    animation: disappear both 500ms;
}

.algnProducts {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transform: translateY(10%);
    animation: text both 500ms;
}

.title {
    color: #F9DBBD;
    text-align: center;
    font-family: var(--candal);
}

.subtitle {
    color: #F9DBBD;
    margin-top: 30px;
    font-family: var(--candal);
    font-size: 15px;
    text-align: center;
}

.ultutorial {
    margin-top: 60px;
    font-size: 16px;
    color: #F9DBBD;
}

.algnBtnTutorial {
    display: flex;
    margin-top: 10%;
    justify-content: center;
}

.btnTutorial {
    width: 10rem;
    border: none;
    background-color: #40C9A2;
    border-radius: 5px;
    font-family: var(--candal);
    color: #2b061e;
    margin: auto;
}
